<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/indexAndLoginStyle.css}">
<title>로그인 화면</title>
<script defer th:src="@{/javascript/movePage.js}"></script>
</head>
<body>
	<div th:replace="gnb/header :: header(false)"></div>
	<div th:replace="gnb/navGnb :: commonGnb"></div>

	<section>
		<div th:replace="gnb/imgCommon :: siteIcon"></div>
		<h3 class="sectionloginTitle">로그인</h3>
		<form class="loginForm" method="POST" action="/login.do">
			<input type="text" id="loginId" name="loginId" value=""
				placeholder="ID"><br> <input type="text" id="loginPW"
				name="loginPW" value="" placeholder="PW"><br>
			<button type="submit" value="로그인">로그인</button>
		</form>
	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>