<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applicationStatusStyle.css}">
<title>투표 개요 화면</title>
</head>
<body>
	<header>

	</header>

	<nav>
	
	</nav>
	<section>
		<article>
			<h2>투표 개요</h2>
			<hr>
			<table border=2 class="voteOverviewTB">
				<tr>
					<th>아파트 명</th>
					<td></td>
				</tr>
				<tr>
					<th>투표 명</th>
					<td></td>
				</tr>
				<tr>
					<th>투표자 수</th>
					<td></td>
				</tr>
				<tr>
					<th>가중치 사용 여부</th>
					<td></td>
				</tr>
				<tr>
					<th>보안 방식</th>
					<td></td>
				</tr>
			</table>
		</article>

	</section>

</body>
</html>