<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applicationStatusStyle.css}">
<link rel="stylesheet" th:href="@{/css/subPage.css}">
<title>투표 현황 화면</title>
<script defer th:src="@{/javascript/subPage.js}"></script>
<script defer th:src="@{/javascript/movePage.js}"></script>
</head>
<body>
	<div th:replace="gnb/header :: header(true)"></div>
	<div th:replace="gnb/navGnb :: sysAdminGnb(activeNav='votingStatus')"></div>

	<section>
		<div th:replace="gnb/pageTitle :: votingStatusTitle"></div>

		<article>
			<div th:replace="gnb/voteList :: listTitle"></div>
			<div th:replace="gnb/voteList :: listItem(false)"></div>
			<div th:replace="gnb/voteList :: voteResult"></div>
		</article>
	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>