<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/myPageStyle.css}">
<title>투표 관리자 - 마이페이지</title>
</head>
<body>
	<div th:replace="gnb/header :: header(true)"></div>
	<div th:replace="gnb/navGnb :: voteManagerGnb"></div>

	<section>
		<div th:replace="gnb/pageTitle :: myPageTitle"></div>

		<article>
			<div th:replace="gnb/voteList :: listTitle"></div>
			<div th:replace="gnb/voteList :: listItem(false)"></div>
		</article>
	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>