<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/voteFormStyle.css}">
<title>투표 만들기 화면</title>
</head>
<body>
	<div th:replace="gnb/header :: header(true)"></div>
	<div th:replace="gnb/navGnb :: voteManagerGnb"></div>

	<section>
		<div th:replace="gnb/pageTitle :: voteFormTitle"></div>

		<article>
			<form method="GET" action="/login/actionLogin" class="makeVoteForm">
				<table class="voteInfo">

					<tr>
						<th>아파트명</th>
						<td><input class="input" type="text" id="loginId"
							name="loginId" value=""></td>
					</tr>
					<tr>
						<th>투표 제목</th>
						<td><input class="input" type="text" id="loginId"
							name="loginId" value=""></td>
					</tr>
					<tr>
						<th>투표 시작</th>
						<td><input class="input" type="datetime-local" id="votetime"
							name="votetime"></td>
					</tr>
					<tr>
						<th>투표 종료</th>
						<td><input class="input" type="datetime-local" id="votetime"
							name="votetime"></td>
					</tr>
					<tr>
						<th>투표자 명부</th>
						<td><input class="input" type="text" id="loginId"
							name="loginId" value=""></td>
					</tr>
					<tr>
						<th>개별 투표</th>
						<td>
							<table class="voteItemForm">
								<tr>
									<th>투표 제목</th>
									<td><input type="text" id="loginId" name="loginId"
										value=""></td>
								</tr>
								<tr>
									<th>후보자 이름</th>
									<td><input type="text" id="loginId" name="loginId"
										value=""></td>
								</tr>
								<tr>
									<th>투표 종류</th>
									<td><input type="text" id="loginId" name="loginId"
										value=""></td>
								</tr>
								<tr>
									<th>보기 등록</th>
									<td class="prosAndcons">찬성 / 반대</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>


				<div class="applyButton">
					<button type="submit" value="신청하기" onclick="alert('dd');">개설완료</button>
					<!-- 나중에 함수로 따로 빼주기-->
				</div>

			</form>
		</article>

	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>