<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applicationStatusStyle.css}">
<title>투표 만들기 화면</title>
<script defer th:src="@{/javascript/subPage.js}"></script>
<script defer th:src="@{/javascript/movePage.js}"></script>
<script defer th:src="@{/javascript/voterParse.js}"></script>
</head>
<body>
	<div th:replace="gnb/header :: header(true)"></div>
	<div th:replace="gnb/navGnb :: voteManagerGnb(activeNav='voteForm')"></div>

	<section>
		<div th:replace="gnb/pageTitle :: voteFormTitle"></div>

		<article>
			<form method="post" action="/votemanager/makeVote.do" class="makeVoteForm">
				<table class="voteInfo" th:each="item, idx : ${voteList}">

					<tr>
						<th>아파트명</th>
						<td th:text="${item.apartName}"></td>
					</tr>
					<tr>
						<th>투표 제목</th>
						<td th:text="${item.voteTitle}"></td>
					</tr>
					<tr>
						<th>투표 시작</th>
						<td th:text="${item.voteStartDate}"></td>
					</tr>
					<tr>
						<th>투표 종료</th>
						<td th:text="${item.voteEndDate}"></td>
					</tr>
					<tr>
						<th>투표자 명부</th>
						<td><input type="file" accept=".xls" onchange="sendFile()" id="voter-file"></td>
					</tr>
					<tr>
						<th>개별 투표</th>
						<td>
							<table class="voteItemForm">
								<tr>
									<th>투표 제목</th>
									<td><input type="text" id="voteItemTitle" name="voteItemTitle"
										value=""></td>
								</tr>
								<tr>
									<th>후보자 이름</th>
									<td><input type="text" id="candidateName" name="candidateName"
										value=""></td>
								</tr>
								<tr>
									<th>투표 종류</th>
									<td>찬반 투표</td>
								</tr>
								<tr>
									<th>보기 등록</th>
									<td class="prosAndcons">찬성 / 반대</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>


				<div class="applyButton">
					<button type="submit">개설완료</button>
					<!-- 나중에 함수로 따로 빼주기-->
				</div>

			</form>
		</article>

	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>