<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"th:href="@{/css/authenticationStyle.css}">
<title>투표자 인증 화면</title>
</head>
<body>
	<div th:replace="gnb/header :: header(false)"></div>
	<div th:replace="gnb/navGnb :: votersGnb"></div>

	<section>
		<div th:replace="gnb/pageTitle :: authenticationTitle"></div>

		<article>
			<div class="authenticationBox">
				<form method="GET" action="/login/actionLogin" class="authenForm">
					<table class="authenTable">
						<caption>동-호수를 입력해 주세요.</caption>
						<tr>
							<th>동-호수</th>
							<td><input type="text" class="addr"> 동 &nbsp; &nbsp;
								&nbsp; <input type="text" class="addr"> 호</td>
						</tr>
						<tr>
							<th>연락처</th>
							<td><input type="text" class="tel"></td>
						</tr>
					</table>
					<button type="button" class="authenBtn">인증</button>
				</form>
			</div>
		</article>

	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>