<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applicationStatusStyle.css}">
<title>투표자 - 투표 결과 확인 화면</title>
<script defer th:src="@{/javascript/movePage.js}"></script>
</head>
<body>
	<div th:replace="gnb/header :: header(false)"></div>
	<div th:replace="gnb/navGnb :: votersGnb(activeNav='voteResult')"></div>
	<div th:replace="gnb/voteList :: voteResult(true)"></div>
	<button type="button" class="voterVoteResultBtn" onclick="movePage('/')">종료</button>
	<div th:replace="gnb/footer :: footer"></div>
</body>
</html>