<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applicationStatusStyle.css}">
<link rel="stylesheet" th:href="@{/css/votingStyle.css}">
<title>투표하기 화면</title>
<script defer th:src="@{/javascript/movePage.js}"></script>
<script defer th:src="@{/javascript/buttonChange.js}"></script>
</head>
<body>
	<div th:replace="gnb/header :: header(false)"></div>
	<div th:replace="gnb/navGnb :: votersGnb(activeNav='authentication')"></div>
	
	<section>
		<div th:replace="gnb/pageTitle :: votingTitle"></div>

		<article th:each="item, idx : ${votingInfoList}">
			<h2 class="votingTitle" th:text="${item.voteItemName}">투표 제목</h2>
			<hr>
			<form method="POST" action="/voters/voting.do">
				<div class="voteContent">
					<div class="candidate">
						<h3>1. 후보자</h3>
						<div class="candidateName" th:text="${item.candName}">후보자 이름</div>
					</div>
					<div class="prosAndCons">
						<input type="button" value = "찬성" id="approveBtn" onclick="btnChange(1)"></input>
						<input type="button" value = "반대" id="disapproveBtn" onclick="btnChange(2)"></input>
						<input type="hidden" value = "" id="sendResultBtn" name = "sendResultBtn"></input>
					</div>
					<div></div>
				</div>
				<div class="voteSubmit">
					<button type="submit" class="voteCompleted">투표 완료</button>
				</div>
			</form>
		</article>

	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>