<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applicationStatusStyle.css}">
<link rel="stylesheet" th:href="@{/css/votingStyle.css}">
<title>투표하기 화면</title>
<script defer th:src="@{/javascript/movePage.js}"></script>
</head>
<body>
	<div th:replace="gnb/header :: header(false)"></div>
	<div th:replace="gnb/navGnb :: votersGnb(activeNav='authentication')"></div>
	
	<section>
		<div th:replace="gnb/pageTitle :: votingTitle"></div>

		<article>
			<h2 class="votingTitle">투표 제목</h2>
			<hr>
			<form>
				<div class="voteContent">
					<div class="candidate">
						<h3>1. 후보자</h3>
						<div class="candidateName">송유진</div>
					</div>
					<div class="prosAndCons">
						<button type="button" class="approveBtn">찬성</button>
						<button type="button" class="disapproveBtn">반대</button>
					</div>
					<div></div>
				</div>
				<div class="voteSubmit">
					<button type="button" class="voteCompleted" onclick="movePage('/voters/voteResult')">투표 완료</button>
				</div>
			</form>
		</article>

	</section>

	<div th:replace="gnb/footer :: footer"></div>

</body>
</html>