<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header(loginPage)">
	<header>
		<img th:src="@{/images/voting.png}" alt="한국전자투표 아이콘" width="50px;"
			height="50px;">
		<h1 onclick="movePage('/')">한국전자투표</h1>
		<a th:if="${loginPage}" th:href="@{/login}" type="button"
			class="loginBtn">로그인</a>
		<!--
		<th:block th:if=${successLogin}>
			<a th:if="${loginPage}" th:href="@{/login}" type="button"
				class="loginBtn">로그아웃</a>
		</th:block>

		<th:block th:if=${unsuccessLogin}>
			<a th:if="${loginPage}" th:href="@{/login}" type="button"
				class="loginBtn">로그인</a>
		</th:block>
-->
	</header>
</th:block>
</html>