<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header(loginPage)">
	<header>
		<img th:src="@{/images/voting.png}" alt="한국전자투표 아이콘" width="50px;"
			height="50px;">

		<th:block th:if="${session.isEmpty()}">
			<h1 onclick="movePage('/')" style="cursor: pointer;">한국전자투표</h1>
		</th:block>

		<th:block th:if="${session.sysAdminId}">
			<h1 onclick="movePage('/sysadmin/applicationStatusDetail')"
				style="cursor: pointer;">한국전자투표</h1>
		</th:block>

		<th:block th:if="${session.managerName}">
			<h1 onclick="movePage('/votemanager/myPage')"
				style="cursor: pointer;">한국전자투표</h1>
		</th:block>

		<th:block th:if="${session.voterName}">
			<h1 onclick="movePage('/voters/authentication')"
				style="cursor: pointer;">한국전자투표</h1>
			<div th:text="|${session.voterName}님 환영합니다!|" id="voterIntro"></div>
			<a id="voterOut" th:href="@{/voters/voteOut}" >나가기</a>
		</th:block>

		<th:block th:if="${!session.isEmpty()}">
			<a th:if="${loginPage}" th:href="@{/logout}" type="button"
				class="loginBtn">로그아웃</a>
		</th:block>

		<th:block th:if="${session.isEmpty()}">
			<a th:if="${loginPage}" th:href="@{/login}" type="button"
				class="loginBtn">로그인</a>
		</th:block>

	</header>
</th:block>
</html>