<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="applyFormTitle">
	<div class="title">
		<p class="pageTitle">이용신청서 작성</p>
		<p class="pageDesc">이용신청서를 작성하시려면 아래의 확인 상황과 개인정보처리방침을 모두 확인하시기
			바랍니다.</p>
	</div>
</th:block>
<th:block th:fragment="applicationStatusTitle">
	<div class="title">
		<p class="pageTitle">신청서 현황</p>
		<p class="pageDesc">접수된 이용신청서의 투표 정보를 확인하고 승인/반려 여부를 처리합니다.</p>
	</div>
</th:block>
<th:block th:fragment="votingStatusTitle">
	<div class="title">
		<p class="pageTitle">투표 현황</p>
		<p class="pageDesc">만들어진 투표의 투표 실시 내역을 확인 및 내려받을 수 있습니다. 상세한 정보는
			해당 투표를 클릭하시기 바랍니다.</p>
	</div>
</th:block>
<th:block th:fragment="voteResultTitle">
	<div class="title">
		<p class="pageTitle">개표 결과 보기</p>
		<p class="pageDesc">개표 결과를 확인하실 수 있습니다.</p>
	</div>
</th:block>
<th:block th:fragment="myPageTitle">
	<div class="title">
		<p class="pageTitle">마이페이지</p>
		<p class="pageDesc">접수된 이용신청서의 투표 정보를 확인하세요.</p>
	</div>
</th:block>
<th:block th:fragment="voteFormTitle">
	<div class="title">
		<p class="pageTitle">투표 만들기</p>
		<p class="pageDesc">투표의 상세 항목을 모두 입력 및 등록하신 후 우측의 개설 완료를 클릭하면,
			투표자에게 어떻게 보여지는지 확인하실 수 있습니다.</p>
	</div>
</th:block>
<th:block th:fragment="voteManagementFormTitle">
	<div class="title">
		<p class="pageTitle">투.개표 관리</p>
		<p class="pageDesc">투표 상태를 변경하실 수 있는 페이지입니다. 특히, 일시정지 상태에서 투표 종료
			시각이 지나거나 무효 버튼을 클릭하면 개표를 하실 수 없으니 주의하세요.</p>
	</div>
</th:block>
<th:block th:fragment="authenticationTitle">
	<div class="title">
		<p class="pageTitle">투표자 인증</p>
		<p class="pageDesc">투표 참여 전 투표자의 정보를 인증하는 페이지입니다.</p>
	</div>
</th:block>
<th:block th:fragment="votingTitle">
	<div class="title">
		<p class="pageTitle">투표하기</p>
		<p class="pageDesc">투표 참여하는 페이지입니다.</p>
	</div>
</th:block>
</html>
