<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="listTitle">
	<table class="appStatus">
		<tr>
			<th>아파트 명</th>
			<th>날짜</th>
			<th>상태</th>
		</tr>
		<tr>
			<th>투표 제목</th>
			<th>투표자 수</th>
			<th></th>
		</tr>
	</table>
</th:block>
<th:block th:fragment="listItem(adminButton)">
	<form>
		<table class="appStatusList" th:each="item, idx : ${voteList}">
			<tr>
				<td th:text="${item.apartName}">아파트명</td>
				<td th:text="|${item.voteStartDate} ~ ${item.voteEndDate}|">날짜</td>
				<td rowspan="2" th:id="'listStatus_' +${idx.index}"
					style="font-weight: bold;"><span th:id="'statusText_' + ${idx.index}" th:text="${T(com.kev.votinghomepage.enums.VoteStatusCode).getCodeTitle(item.voteStateCd)}">대기</span>
					<button type="button" class="appDetail"
						th:id="'appDetail_' + ${idx.index}"
						th:onclick="|myFunction(${idx.index})|">이력</button>
					<button th:if="${adminButton}" type="button" class="appApprove"
						th:id="'appApprove_' + ${idx.index}"
						th:data-parameter="${idx?.index}"
						th:data-parameter2="${item?.voteStateCd}"
						th:data-parameter3="${item?.voteSeq}"
						th:onclick="changeStatus(this.getAttribute('data-parameter'), this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'))">승인</button>
				</td>
			</tr>
			<tr>
				<td th:text="${item.voteTitle}">투표 제목</td>
				<td th:text="${item.esmVoter}">투표자 수</td>
			</tr>
		</table>
	</form>
</th:block>
<th:block th:fragment="voteResult(show)">
	<div id="subPage"
		th:style="${show ? 'display: block' : 'display : none'}">
		<div th:replace="common/voteResult"></div>
	</div>
</th:block>
<th:block th:fragment="voteOverview(show)">
	<div id="subPage"
		th:style="${show ? 'display: block' : 'display : none'}">
		<div th:replace="common/voteOverview"></div>
	</div>
</th:block>
<th:block th:fragment="applyForm">
	<div id="subPage" style="display: none;">
		<!DOCTYPE html>
		<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/commonStyle.css}">
<link rel="stylesheet" th:href="@{/css/applyFormStyle.css}">
<title>이용신청서 작성화면</title>
</head>
<body>
	<section>
		<div th:replace="gnb/pageTitle :: applyFormTitle"></div>

		<article>
			<div th:each="item, idx : ${applyFormList}">
				<form th:id="'subPage_' + ${idx.index}" style="display: none;">
					<table class="apartInfo">
						<caption>1. 아파트 정보</caption>
						<tr>
							<th>아파트명</th>
							<td th:text="${item.apartName}"></td>
						</tr>
						<tr>
							<th>아파트 연락처</th>
							<td th:text="${item.apartTel}"></td>
						</tr>
						<tr>
							<th>사업자 등록번호</th>
							<td th:text="${item.bizLcsNum}"></td>
						</tr>
					</table>

					<table class="managerInfo">
						<caption>2. 관리자 정보</caption>
						<tr>
							<th>관리자 성명</th>
							<td th:text="${item.managerName}"></td>
						</tr>
						<tr>
							<th>관리자 직위</th>
							<td th:text="${item.managerPosition}"></td>
						</tr>
						<tr>
							<th>관리자 연락처 (하이픈(-)포함)</th>
							<td th:text="${item.managerTel}"></td>
						</tr>
					</table>

					<table class="voteInfo">
						<caption>3. 투표 정보</caption>
						<tr>
							<th>투표 제목 (대표 안건명)</th>
							<td th:text="${item.voteTitle}"></td>
						</tr>
						<tr>
							<th>예상 투표자 수</th>
							<td th:text="${item.esmVoter}"></td>
						</tr>
						<tr>
							<th>투표 시작</th>
							<td th:text="${item.voteStartTime}"></td>
						</tr>
						<tr>
							<th>투표 종료</th>
							<td th:text="${item.voteEndTime}"></td>
						</tr>
					</table>
				</form>
			</div>
		</article>

	</section>
</body>
		</html>
	</div>
</th:block>
</html>