<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>초기화면</title>
</head>
<body>
	<h2>공통 UI</h2>
	<p><a href="/index">메인 화면</a></p>
	<p><a href="/applyForm">이용신청서 작성 화면</a></p>
	<p><a href="/login">로그인 화면</a></p><br>
	<h2>시스템 관리자 UI</h2>
	<p><a href="/sysadmin/applicationStatus">신청서 현황 화면</a></p>
	<p><a href="/sysadmin/applicationStatusDetail">신청서 현황 상세 화면</a></p>
	<p><a href="/sysadmin/voteOverview">투표 개요 화면</a></p>
	<p><a href="/sysadmin/votingStatus">투표 현황 화면</a></p>
	<p><a href="/sysadmin/voteResult">투표 결과 확인 화면 </a></p><br>
	<h2>투표 관리자 UI</h2>
	<p><a href="/votemanager/myPage">마이페이지 화면</a></p>
	<p><a href="/votemanager/voteOverview">투표 개요 화면</a></p>
	<p><a href="/votemanager/makeVoteForm">투표 만들기 화면</a></p>
	<p><a href="/votemanager/voteManagementForm">투표 관리 화면</a></p>
	<p><a href="/votemanager/voteResult">투표 관리 - 투표 결과 보기 화면</a></p><br>
	<h2>투표자 UI</h2>
	<p><a href="/voters/authentication">투표자 인증 화면</a></p>
	<p><a href="/voters/voteOverview">투표 개요 화면</a></p>
	<p><a href="/voters/voting">투표하기 화면</a></p>
	<p><a href="/voters/voteResult">투표 결과 확인 화면</a></p>
</body>
</html>