<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/loginStyle.css}">
<title>메인화면</title>
</head>
<body>
	<header>
		<img th:src="@{/images/voting.png}" alt="한국전자투표 아이콘" width="50px;"
			height="50px;">
		<h1>한국전자투표</h1>
	</header>

	<div th:replace="gnb/navGnb :: nav"></div>

	<section>
		<img th:src="@{/images/voting.png}" alt="한국전자투표 아이콘" width="300px;"
			height="300px;">
		<h3>로그인</h3>
		<form method="GET" action="/login/actionLogin">
			<input type="text" id="loginId" name="loginId" value=""
				placeholder="ID"><br> <input type="text" id="loginPW"
				name="loginPW" value="" placeholder="PW"><br>
			<button type="submit" value="로그인">로그인</button>
		</form>
	</section>

	<div th:replace="gnb/footerGnb :: footer"></div>

</body>
</html>